h1 {
  text-align: center;
  font-size: 5.6rem;
}
.container {
  height: 150px;
  position: relative;
  border: 3px solid green;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#div1 {
  border-radius: 5px;
  border: 3px solid green;
  width: 75%;
  margin-left: 13%;
  align-items: center;
}
img {
  margin-left: 32%;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  img {
    width: 70%;
    margin-left: 18%;
  }
}
@media (max-width: 320px) {
  button {
    width: 150px;
  }
}
